:root {
  --lightblue: #A6DEF1;
  --blue: #43b7d4;
  --darkblue: #1c9cbd;
  --brown: #9B745A;
  --darkbrown: #3D1D0E;
  --offwhite: #FFF8F2;
  --red: #ED6141;
  --lightred: #ec7e65;
  background-color: var(--lightblue);
}

.App {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--lightblue);
  min-height: 100vh;
  font-family: 'Helvetica Neue';
  color: var(--darkbrown);
}

h1, h2, h3 {
  font-family: 'Nunito';
  margin: 0px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
  color: var(--red);
}

h3 {
  font-size: 12px;
}

ol {
  margin: 0px;
  padding-left: 1.3em;
}

li {
  font-family: 'Nunito';
  text-align: left;
  margin: 6px 0px 0px 0px;
}

:focus {
  outline: none;
}
