:root {
  --lightblue: #A6DEF1;
  --blue: #43b7d4;
  --darkblue: #1c9cbd;
  --brown: #9B745A;
  --darkbrown: #3D1D0E;
  --offwhite: #FFF8F2;
  --red: #ED6141;
  --lightred: #ec7e65;
  background: var(--lightblue);
}

.App {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--lightblue);
  min-height: 100vh;
  font-family: 'Helvetica Neue';
}

:focus {
  outline: none;
}
