.chat-window {
    display: flex;
    flex-direction: column-reverse;
    width: 80vw;
    height: 55vh;
    background-color: white;
    border: 3px var(--darkbrown) solid;
    border-radius: 10px;
    margin-top: 30px;
    overflow-y: scroll;
    padding: 10px 0px;
}

.chat-window::-webkit-scrollbar {
    width: 14px;
}

.chat-window::-webkit-scrollbar-thumb {
    background: var(--brown);
    border-radius: 10px;
    border: 4px rgba(0, 0, 0, 0) solid;
    background-clip: padding-box;
}

.user-input {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.chat-input {
    width: 100%;
    color: var(--darkbrown);
    margin: 0px 10px;
    border: 3px var(--darkbrown) solid;
    border-radius: 10px;
    padding: 0px 10px;
}

.chat-input::placeholder {
    color: var(--brown);
  }

.chat-submit {
    display: flex;
    color: white;
    background-color: var(--darkblue);
    border: none;
    border-radius: 100px;
    padding: 6px;
    margin: 0px 10px;
}

.chat-submit:hover {
    cursor: pointer;
    transition-duration: 200ms;
    background-color: var(--blue);
}

.logo{
    margin-top: 30px;
    -webkit-filter: drop-shadow(4px 4px 4px var(--darkblue));
    filter: drop-shadow(4px 4px 0px var(--darkblue));
}

.animate__animated.animate__fadeIn {
    animation-delay: .6s;
    --animate-duration: 2.3s;
}

@media (min-width: 800px) {
    .chat-window {
        width: 50vw;
        height: 50vh;
    }

    .user-input {
        width: 50vw;
    }
}