.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 0px 0px;
    padding: 4px 0px;
    font-size: 10px;
    font-family: "Nunito";
    width: 100%;
}

.footer-icon {
    transform: scale(0.45);
}