.chat-bubble {
    display: flex;
    padding: 6px 20px;
    color: white;
}

.chat-bubble.user {
    justify-content: flex-end;
}

.chat-content {
    display: flex;
    text-align: left;
    flex-direction: column;
    max-width: 60%;
    border-radius: 18px;
    padding: 10px 12px;
    word-wrap: break-word;
}

.chat-content.user {
    background-color: var(--blue);
}

.chat-content.bot {
    background-color: var(--red);
}

.recipe-link-row a {
    text-decoration: none;
    color: var(--lightyellow);
}

.recipe-link-row a:hover {
    color: var(--offwhite);
    transition-duration: 200ms;
}

.chat-link-icon {
    transform: scale(0.8);
}